p{
    color:chartreuse;
    font-size: 70px;

}


#mappy { height: 1000px;
        width: 1000px;}

#mappy2 { height: 1000px;
    width: 1000px;}


#mappy1_lab3 {height : 500px;
    width: 700px;}

#mappy2_lab3 {height : 500px;
    width: 500px;}